<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml"><head><meta charset="UTF-8" /><title>{title}</title><link rel="stylesheet" type="text/css" media="all" href="template/style.css" />{head}</head><body><header><h2><a href="index.php">chibichan</a></h2>{header}</header><section id="sidebar"><figure><h5>Search</h5><form action="index.php" method="get"><input name="q" size="20" type="text" value="{tag_list}" /><input style="display: none;" type="submit" value="Submit" /></form></figure><figure><h5>Tags</h5><ul id="tag-sidebar">{tag}<li><a href="{tag_href}">{tag_id}</a><span>{tag_count}</span></li>{/tag}</ul></figure>{sidebar}</section><section id="content">{content}</section><footer class="center"><section>All images are copyrighted by their respective copyright owners.</section><section>{footer}Powered by <a href="https://github.com/Chase-san/Chibichan">Chibichan</a>.</section></footer></body>
<!--
there once lived a developer
who was all for becoming better
but he made application
and surely lost his station
for while it was small and clever
he could have made it better

he made up only excuses 
but they were completely useless

as surely one who did c
could write php
-->